.ant-font{
    font-family: 'iranYekan' ;
  }
  .ant-pagination-item {
    font-family: 'iranYekan' ;
  }
  .ant-pagination-item a {
      font-family: 'iranYekan' ;
  } 
  .ant-pagination-item-active a {
      font-family: 'iranYekan' ;
  }   