
@import url('assets/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-3b4149: #3b4149;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'iranYekan';
}

@layer components {
    .dropdown:hover > .dropdown-content {
      @apply block;
    }
    .active{
      @apply text-[var(--color-febd69)] border-b-4 border-b-[var(--color-febd69)] transition-all ease-in-out duration-300;  
    }
    .product_cart:hover .action_bar{
      @apply right-2;
    }
    .product_cart:hover .imgA{
      @apply hidden transition-all ease-in-out duration-500;
    }
    .product_cart:hover .imgB{
      @apply block scale-100 transition-all ease-in-out duration-500;
    }
    
}