
@import url('assets/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-3b4149: #3b4149;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-888888: #888888;
    --color-999999: #999999;
    --color-1c1c1b: #1c1c1b;
    --color-eaeaea: #eaeaea;
    --color-276fea: #276fea;
    --s:25%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'iranYekan';
}

@layer components {
    .dropdown:hover > .dropdown-content {
      @apply block;
    }
    .active{
      @apply text-[var(--color-febd69)] border-b-4 border-b-[var(--color-febd69)] transition-all ease-in-out duration-300;  
    }
    .product_cart:hover .action_bar{
      @apply right-2;
    }
    .product_cart:hover .imgA{
      @apply hidden transition-all ease-in-out duration-500;
    }
    .product_cart:hover .imgB{
      @apply block scale-100 transition-all ease-in-out duration-500;
    }
    .breadcrumb > li{
      line-height: 1.8;
      padding-inline: calc(20px + .3em);
      clip-path: polygon(100% 0%,85% 50%,100% 100%,15% 100%,0% 50%,15% 0%);
      background: var(--color-276fea);
      width: fit-content;
    }
    .breadcrumb > li.activeStage{
      line-height: 1.8;
      padding-inline: calc(20px + .3em);
      clip-path: polygon(100% 0%,85% 50%,100% 100%,15% 100%,0% 50%,15% 0%);
      background:var(--color-febd69);
      width: fit-content;
    }
    .custom-rate .ant-rate-star {
      margin-right: 0; /* فاصله بین ستاره‌ها را به 5 پیکسل کاهش می‌دهد */
  }
  
  .custom-rate .ant-rate-star:last-child {
      margin-right: 0; /* برای آخرین ستاره فاصله نداشته باشد */
  }
    .image-container {
      @apply relative inline-block;
    }
    .main-image {
      @apply w-[400px] h-auto;
    }
    .magnifier {
      @apply absolute w-[150px] h-[150px] border-2 border-black rounded-full pointer-events-none bg-no-repeat bg-center z-10;
    }
    .main-hero{
      background-size: 100% 100%;
      animation: slider 20s ease-in infinite;
    }
    .ant-layout-sider{
      flex: 0 0 250px !important;
      max-width: 250px !important;
      min-width: 250px !important;
      width: 250px !important;
    }
    .ant-layout-sider-collapsed{
      flex: 0 0 80px !important;
      max-width: 80px !important;
      min-width: 80px !important;
      width: 80px !important;
    }
    .sm-logo{
      display: none;
      transition: 0.3s;
    }
    .lg-logo{
      transition: 0.3s;
    }
    .ant-layout-sider-collapsed .sm-logo{
      display: block;
      transition: 0.3s;
    }
    .ant-layout-sider-collapsed .lg-logo{
      display:none;
      transition: 0.3s;
    }
    .ant-menu-title-content{
      font-size: 16px;
    }
    .ant-font{
      font-family: 'iranYekan' ;
    }  
    .spinner {
    
      width: 60px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid rgb(var(--color-primary-900));
      border-right-color: rgb(var(--color-primary-200));
      animation: rotate 1s infinite linear;
    }
  
    .spinner-mini {
      margin: 0;
      width: 20px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid rgb(var(--color-primary-200));
      border-right-color: transparent;
      animation: rotate 1s infinite linear;
    }
    
    .menu-search{
     background-color: white;
     padding: 4px ;
     border-width: 1px;
     border-bottom: #eaeaea;
    
    }
    .menu-search:hover{
      background-color:var(--color-febd69);
    }

    .blink {
      animation: blinker 1s linear infinite;
    }
    
    .heart-animation {
      animation: heartBeat 0.7s forwards;
  }
  
  @keyframes heartBeat {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.5); /* افزایش اندازه قلب */
      }
      100% {
          transform: scale(1); /* بازگشت به اندازه اصلی */
      }
  }

    @keyframes blinker {
      50% { opacity: 0.5; }
    }
    @keyframes slider {
      0%{background-image:url(./assets/images/main-banner1.webp) ;}
      100%{background-image:url(./assets/images/main-banner2.webp) ;}
    }
    
}
